body{
    margin: 0;
    padding: 0;
}

nav{
    height: 50px;
    width: 100%;
    display: flex;
    background-color: red;
    position: fixed;
    justify-content: space-between;
}
nav h3{
    color: #fff;
    margin: 5;
}

#home{
    background-color: yellow;
    height: 800px;
    width: 100%;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

ul li{
    margin: 5px;
    text-decoration: none;
    list-style: none;
}

#about{
    background-color: blue;
    height: 800px;
    width: 100%;
}

#contact{
    background-color: green;
    height: 800px;
    width: 100%;
}